CompileFlags:
  CompilationDatabase: "build"
  Add:
    - "-xc"
    - "-std=c11"
    - "-Wall"
    - "-Wextra"
    - "-IC:/msys64/ucrt64/include"
    - "-IC:/msys64/ucrt64/x86_64-w64-mingw32/include"
