CompileFlags:
  Add:
    - "-xc"
    - "-std=c11"
    - "-Wall"
    - "-Wextra"
    - "-I"
    - "C:/Users/pd01wvj/Desktop/mingw64/include"
    - "-I"
    - "C:/Users/pd01wvj/Desktop/mingw64/x86_64-w64-mingw32/include"
    - "-I"
